:where(.css-dev-only-do-not-override-akhys3).audit-layout .audit-layout-header {
  padding-inline: 8px;
}

.header-tabs .audit-tabs-nav::before {
  border-bottom: none;
}

.audit-tabs-tab:not(.audit-tabs-tab-active) .audit-tabs-tab-remove {
  opacity: 0;
}

.audit-tabs-tab:hover .audit-tabs-tab-remove {
  opacity: 1;
}

.opeartion-area {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.opeartion-area button {
  padding: 0;
}

.save-confirm .save-confirm-btn {
  display: flex;
  justify-content: flex-end;
  column-gap: 16px;
  padding-top: 20px;
}

.record-area::before {
  content: '111';
}

.template-edit {
  height: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: space-between;
  position: relative;
}

.template-edit-opeartion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 9px 16px;
  height: 60px;
}

.template-edit-opeartion .opeartion-container {
  display: flex;
  column-gap: 16px;
}

.template-edit-content {
  flex: 1;
  height: inherit;
  display: flex;
  height: calc(100% - 92px);
}

.audit-modal-confirm-content {
  width: 100%;
  max-width: 100%;
}

:where(.css-dev-only-do-not-override-czxzu3).audit-modal-confirm
  .audit-modal-confirm-body
  .audit-modal-confirm-title
  + .audit-modal-confirm-content {
  max-width: 100%;
}

.audit-break-line-container {
  height: 0;
  width: 100%;
}

.audit-break-line {
  width: 100% !important;
  position: absolute;
  height: 0;
  border-bottom: 1px solid #ff5633;
  left: 0;
  top: 0;
}

/* 二级页面返回 */
.config-return-modal {
  .audit-modal-content {
    .audit-modal-body {
      .footer {
        width: 100%;
        margin-top: 20px;
        justify-content: end;
      }
    }
  }
}

.common {
  height: 100%;
}

.right-container {
  .audit-table-placeholder {
    height: 174px;
  }
}

.crumb {
  line-height: 36px;

  .crumb-allow-click {
    cursor: pointer;
  }
}

.tab-page-header {
  padding-top: 15px;
}

.tab-page-header .audit-tabs-nav {
  margin-bottom: 0;
}

.tab-page-header .audit-tabs-nav-wrap {
  padding-left: 16px;
}

.review-table {
  padding-top: 26px;
}

.luckysheet-scrollbar-ltr {
  z-index: 1000;
}
