.luckysheet-modal-dialog {
  padding: var(--bmos-padding-small);

  .luckysheet-modal-dialog-title-close {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .luckysheet-modal-dialog-buttons {
    display: flex;
    justify-content: flex-end;

    .luckysheet-model-close-btn {
      margin-right: 0;
      background-color: #fff;
      box-shadow: 0 2px 0 #00000005;
      font-size: 14px;
      height: 36px;
      padding: 6px 19px;
      border-radius: 4px;
      border: 1px solid transparent;
      border-color: #d4d7d9;
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      user-select: none;
      touch-action: manipulation;
      outline: none;
      position: relative;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
      text-align: center;
      background-image: none;
    }

    .luckysheet-model-close-btn:hover {
      color: #5991ff;
      border-color: #5991ff;
    }
  }
}
