.uni-select__selector-scroll{
	max-height: 98.48rpx!important;
}

.uni-select__selector-item {
	color: rgba(84, 86, 89, 1);
	line-height: 32.83rpx;
	height: 32.83rpx;
	font-size: 12.9rpx;
	padding: 0 9.38rpx;
	border-bottom: 1px solid rgba(240, 241, 242, 1);
}