textarea {
	outline: none;
	resize: none;
	border: none;
	border-radius: 5px;
	/* 	font-size: 16px;*/
	padding: 5px;
	box-sizing: border-box;
}

.default {
	background: rgba(245, 245, 245, 1);
	box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.15) inset,
		-4px -4px 3px 0px rgba(255, 255, 255, 0.6) inset,
		0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	color: rgba(40, 113, 255, 1);
}

/* 文字、数字输入框样式 */
.canInput {
	border: 1px solid rgba(0, 0, 0, 0.09);
}

.canInput:focus {
	border: 1px solid rgba(34, 96, 217, 1);
}

/* 数据已保存样式 */
.saved {
	background: rgba(245, 245, 245, 1);
	box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.15) inset,
		-4px -4px 3px 0px rgba(255, 255, 255, 0.6) inset,
		0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	color: rgba(36, 37, 38, 1);
}

/* 数据修改样式 */
.changed {
	background: rgba(255, 239, 191, 1);
	box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.15) inset,
		-4px -4px 3px 0px rgba(255, 255, 255, 0.2) inset,
		0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	color: rgba(36, 37, 38, 1);
}

/* 数据异常样式 */
.unusual {
	background: rgba(255, 198, 191, 1);
	box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.15) inset,
		-3px -3px 3px 0px rgba(255, 255, 255, 0.2) inset,
		0px 0px 2px 0px rgba(0, 0, 0, 0.2);

	color: rgba(36, 37, 38, 1);
}

/* 公式样式 */
.formula {
	background: rgba(217, 229, 255, 1);
	box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.15) inset,
		-3px -3px 3px 0px rgba(255, 255, 255, 0.2) inset,
		0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	color: rgba(193, 196, 203, 1);
}

/* 完成时未填写样式 */
.unfilled {
	border: 1px solid rgba(255, 76, 38, 1);
	color: rgba(36, 37, 38, 1);
}