.lisms-layout .lisms-layout-header {
  padding-inline: 8px;
}

.header-tabs .lisms-tabs-nav::before {
  border-bottom: none;
}

.lisms-tabs-tab:not(.lisms-tabs-tab-active) .lisms-tabs-tab-remove {
  opacity: 0;
}

.lisms-tabs-tab:hover .lisms-tabs-tab-remove {
  opacity: 1;
}

.lisms-modal-confirm-content {
  width: 100%;
  max-width: 100%;
}

/* 二级页面返回 */
.config-return-modal {
  .lisms-modal-content {
    .lisms-modal-body {
      .footer-btns {
        justify-content: end;
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

.common {
  height: 100%;
}

.right-container {
  .lisms-table-placeholder {
    height: 174px;
  }
}

.crumb {
  line-height: 36px;

  .crumb-allow-click {
    cursor: pointer;
  }
}

.tab-page-header {
  padding-top: 15px;
}

.tab-page-header .lisms-tabs-nav {
  margin-bottom: 0;
}

.tab-page-header .lisms-tabs-nav-wrap {
  padding-left: 16px;
}

.review-table {
  padding-top: 26px;
}

.delete-btn {
  color: var(--bmos-danger-color);
  cursor: pointer;
}

.lisms-tree-select-dropdown .lisms-select-tree .lisms-select-tree-checkbox {
  margin-block-start: 0;
}

.lisms-detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 8px;
}

.lisms-segmented {
  .lisms-segmented-item {
    padding: 0 16px;
  }
}
